/*
* @Author: taochallenge
* @Date:   2019-12-17 17:58:12
* @Last Modified by:   taochallenge
* @Last Modified time: 2019-12-25 17:44:02
*/
/* 头部部分 */
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}
#top-wrap{
	height: 35px;
	background-color: rgb(249,249, 249);
}
#top{
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 35px;
	line-height: 35px;
	font-size: 13px;
}
#destination{
	display: block;
	color: rgb(100, 100, 100);
	width: 80px;
	height: 33px;
	margin-bottom: -1px;
	border-bottom: white;
}
#des{
	display: none;
	position: absolute;
	width: 300px;
	height: 240px;
	border: 1px solid red;
	background-color: white;
	z-index: 999;
	border: 1px solid rgb(230, 230, 230);
}
#des a{
	font-size: 12px;
	color: rgb(100, 100, 100);
	display: inline-block;
	margin-right: 20px;
	margin-left: 10px;
	margin-bottom: -10px;
}
#top-right{
	position: absolute;
	top: 0;
	left: 390px;
	float: right;
}
#top-right a{
	height: 20px;
	display: inline-block;
	color: rgb(100, 100, 100);
}
#login{
	color: red;
}
#vip:hover{
	color: red;
}
#welcome{
	float: left;
}
#zero{
	color: red;
}
#smallmarket{
	position: relative;
	top: 5px;
}
#top-market:hover{
	color: red;
}
.top-wright-text{
	height: 15px;
	line-height: 10px;
	display: inline-block;
}
.wright-text{
	height: 20px;
	line-height: 10px;
	display: inline-block;
}
#head-wrap{
	height: 142px;
	border-bottom:2px solid rgb(255,40,50);
}
#mydd{
	display: none;
	position: absolute;
	top: 0;
	left: 794px;
	width: 70px;
	height: 120px;
	z-index: 999;
	background-color: rgb(249,249, 249);
}
.mydd,.get,.buyy,.servelist{
	color: rgb(100, 100, 100);
	font-size: 12px;
	text-indent: 4px;
	display: inline-block;
	width: 70px;
	height: 20px;
}
#zeroget{
	display: none;
	position: absolute;
	top: 0;
	left: 864px;
	width: 70px;
	height: 100px;
	z-index: 999;
	background-color: rgb(249,249, 249);
}
#buy{
	display: none;
	position: absolute;
	top: 0;
	left: 1050px;
	width: 70px;
	z-index: 999;
	height: 150px;
	background-color: rgb(249,249, 249);
}
#serve{
	display: none;
	position: absolute;
	top: 0;
	left: 1125px;
	width: 70px;
	z-index: 999;
	height: 120px;
	background-color: rgb(249,249, 249);
}
#head{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
input{
	color: rgb(102, 102, 102);
	font-size: 12px;
	position: absolute;
	left: 400px;
	top: 25px;
	width: 500px;
	height: 35px;
	border: 2px solid rgb(255,40,50);
}
input:focus{
	outline: none;
}
#search{
	display: block;
	height: 39px;
	width: 42px;
	background-color: rgb(255,40,50);
	position: absolute;
	top: 25px;
	left: 900px;
	text-align: center;
}
#mirror{
	margin-top: 2px;
}
#market{
	color: white;
	width: 100px;
	height: 39px;
	background-color: rgb(255,40,50);
	position: absolute;
	top: 25px;
	left: 1000px;
}
#marketimg{
	margin-top: 2px;
}
#markettxt{
	position: absolute;
	top: 9px;
	font-size: 15px;
}
#ding{
	width: 100px;
	height: 39px;
	position: absolute;
	top: 25px;
	left: 1100px;
	background-color: rgb(246,246, 246);
	text-align: center;
	line-height: 39px;
	color: rgb(100,100,100);
}
#ding:hover{
	color: red;
}
#hot{
	font-size: 12px;
	color: rgb(150, 150, 150);
	position: absolute;
	left: 400px;
	top: 70px;
}
#hot a{
	color: rgb(150, 150, 150);
	display: inline-block;
	margin-right: 10px;
}
#ad{
	margin-left: 42px;
}
.all{
	position: absolute;
	top: 102px;
	color: white;
	width: 200px;
	height: 40px;
	line-height: 40px;
	background-color: rgb(250, 40, 50);
}
.all span{
	margin-left: 20px;
}
.all img{
	margin-left: 40px;
}
.cl{
	position: absolute;
	top: 110px;
	left: 230px;
}
.cl a{
	margin-right: 25px;
	color: #000;
	font-weight: bold;
	font-size: 15px;
}
.cl a:hover{
	color: red;
}
.hot1{
	position: absolute;
	top:135px;
	left: 867px;
}

/* 中间部分 */
.fix{
	position: fixed;
	right: 0;
}
#fix0{
	top: 0;
}
#fix1{
	top: 135px;
}
#fix2{
	top: 169px;
}
#fix3{
	top: 203px;
}
#fix4{
	top: 237px;
}
#fix5{
	top: 271px;
}
#line{
	position: fixed;
	top: 305px;
	right: 0;
	height: 281px;
	width: 4px;
	background-color: rgb(71, 71, 71);
}
#fix6{
	bottom: 102px;
}
#fix7{
	bottom: 68px;
}
#fix8{
	bottom: 34px;
}
#fix9{
	bottom: 0;
}
#fix99{
	z-index: 999;
	display: none;
	position: fixed;
	top: 580px;
	right:34px;
}
.fixed{
	display: block;
}
#main-swap{
	position: relative;
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
}
#list{
	width: 200px;
	background-color: rgb(250,250, 250);
	float: left;
}
#list a{
	font-size: 13.5px;
	color: rgb(50, 50, 50);
}
.list{
	height: 30px;
	text-indent: 15px;
	line-height: 30px;
}
#list a:hover{
	color: red;
	border-bottom: 1px solid rgb(255, 40, 50);
}
.box{
	width: 796px;
	height: 326px;
	overflow: hidden;
	position: relative;
	top: 0;
	float: left;
}
.slider{
	width: 7960px;
	position: absolute;
	left: -796px;
	overflow: hidden;
}
.slide{
	width: 796px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	position: absolute;
	top: 150px;
	line-height: 50px;
	background: rgb(26, 55, 42);
	font-size: 30px;
	opacity: 0;
}
.nav{
	position: absolute;
	left: 300px;
	bottom: 10px;
}
.nav>li{
	color: white;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	float: left;
	width: 20px;
	height: 20px;
	background: rgb(100, 100, 100);
	cursor: pointer;
	margin: 0 5px;
	border-radius: 50%;
}
.nav .active{
	color: #fff;
	background: red;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
#box2{
	width: 1592px;
	height: 160px;
	overflow: hidden;
}
.slider1{
	width: 796px;
	position: absolute;
	left: 200px;
	top: 326px;
	overflow: hidden;
}
.slide1{
	position: relative;
	width: 796px;
	display: inline-block;
	overflow: hidden;
}
#slide1{
	position: relative;
	top: -160px;
	left: 796px;
}
.little{
	float: left;
}
#discountimg{
	position: absolute;
	top: 0;
	left: 996px;
}
#message{
	position: absolute;
	top: 195px;
	left: 996px;
	width: 202px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: rgb(240, 240, 240);
	overflow: hidden;
}
#mms{
	position: absolute;
	top: 235px;
	left: 996px;
	width: 202px;
	height: 250px;
	overflow: hidden;
}
#messagetxt{
	position: relative;
	width: 202px;
	height: 500px;
	overflow: hidden;
}
#messagetxt a{
	display: inline-block;
	float: left;
	color: rgb(100, 100, 100);
	font-size: 12.5px;
	margin-top: 12px;
	margin-left: 10px;
	color: rgb(255, 40, 50);
	font-weight: bold;
}
#activity{
	position: absolute;
	top: 710px;
	left: 157px;
	width: 1200px;
}
#act{
	height: 50px;
	border-bottom: 2px solid rgb(60, 60, 60);
	margin-bottom: 5px;
}
#activity a{
	display: inline-block;
	margin-right: 5px;
}
.footer{
	position: absolute;
	top: 1200px;
	height: 150px;
	border-bottom:1px solid #454545;
}
.footer div{
	width: 90px;
	display: inline-block;
	margin-top: 15px;
	margin-left: 180px;		
}
.footer a{
	color: rgb(30,41,61);
}
.footer a:hover{
	color: red;
}
.size{
	font-size: 14px;
}
.copyright{
	text-align: center;
	position: absolute;
	top: 1400px;
	left: 400px;
	color:rgb(30,41,61);
	font-size: 14px;
	height: 97px;
}
.copyright a{
	color: rgb(30,41,61);
}
.copyright a:hover{
	color: red;
}
.true{
	position: relative;
	top: 300px;
	z-index: -1;
	height: 76px;
	border-top: 4px solid red;
	background-color: rgb(250, 250, 250);
}
.true img{
	display: block;
	margin-left: 150px;
}