/*
* @Author: taochallenge
* @Date:   2019-12-17 17:58:12
* @Last Modified by:   taochallenge
* @Last Modified time: 2019-12-20 22:48:55
*/
/* 头部部分 */
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
#top-wrap{
	height: 35px;
	background-color: rgb(249,249, 249);
}
#top{
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 35px;
	line-height: 35px;
	font-size: 13px;
}
#destination{
	display: block;
	color: rgb(100, 100, 100);
	width: 80px;
	height: 33px;
	margin-bottom: -1px;
	border-bottom: white;
}
#des{
	display: none;
	position: absolute;
	width: 300px;
	height: 240px;
	border: 1px solid red;
	background-color: white;
	z-index: 999;
	border: 1px solid rgb(230, 230, 230);
}
#des a{
	font-size: 12px;
	color: rgb(100, 100, 100);
	display: inline-block;
	margin-right: 20px;
	margin-left: 10px;
	margin-bottom: -10px;
}
#top-right{
	position: absolute;
	top: 0;
	left: 390px;
	float: right;
}
#top-right a{
	height: 20px;
	display: inline-block;
	color: rgb(100, 100, 100);
}
#login{
	color: red;
}
#vip:hover{
	color: red;
}
#welcome{
	float: left;
}
#zero{
	color: red;
}
#smallmarket{
	position: relative;
	top: 5px;
}
#top-market:hover{
	color: red;
}
.top-wright-text{
	height: 15px;
	line-height: 10px;
	display: inline-block;
}
.wright-text{
	height: 20px;
	line-height: 10px;
	display: inline-block;
}
#head-wrap{
	height: 142px;
	border-bottom:2px solid rgb(255,40,50);
}
#mydd{
	display: none;
	position: absolute;
	top: 0;
	left: 794px;
	width: 70px;
	height: 120px;
	z-index: 999;
	background-color: rgb(249,249, 249);
}
.mydd,.get,.buyy,.servelist{
	color: rgb(100, 100, 100);
	font-size: 12px;
	text-indent: 4px;
	display: inline-block;
	width: 70px;
	height: 20px;
}
#zeroget{
	display: none;
	position: absolute;
	top: 0;
	left: 864px;
	width: 70px;
	height: 100px;
	z-index: 999;
	background-color: rgb(249,249, 249);
}
#buy{
	display: none;
	position: absolute;
	top: 0;
	left: 1050px;
	width: 70px;
	z-index: 999;
	height: 150px;
	background-color: rgb(249,249, 249);
}
#serve{
	display: none;
	position: absolute;
	top: 0;
	left: 1125px;
	width: 70px;
	z-index: 999;
	height: 120px;
	background-color: rgb(249,249, 249);
}
#head{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
input{
	color: rgb(102, 102, 102);
	font-size: 12px;
	position: absolute;
	left: 400px;
	top: 25px;
	width: 500px;
	height: 35px;
	border: 2px solid rgb(255,40,50);
}
input:focus{
	outline: none;
}
#search{
	display: block;
	height: 39px;
	width: 42px;
	background-color: rgb(255,40,50);
	position: absolute;
	top: 25px;
	left: 900px;
	text-align: center;
}
#mirror{
	margin-top: 2px;
}
#market{
	color: white;
	width: 100px;
	height: 39px;
	background-color: rgb(255,40,50);
	position: absolute;
	top: 25px;
	left: 1000px;
}
#marketimg{
	margin-top: 2px;
}
#markettxt{
	position: absolute;
	top: 9px;
	font-size: 15px;
}
#ding{
	width: 100px;
	height: 39px;
	position: absolute;
	top: 25px;
	left: 1100px;
	background-color: rgb(246,246, 246);
	text-align: center;
	line-height: 39px;
	color: rgb(100,100,100);
}
#ding:hover{
	color: red;
}
#hot{
	font-size: 12px;
	color: rgb(150, 150, 150);
	position: absolute;
	left: 400px;
	top: 70px;
}
#hot a{
	color: rgb(150, 150, 150);
	display: inline-block;
	margin-right: 10px;
}
#ad{
	margin-left: 42px;
}
.all{
	position: absolute;
	top: 102px;
	color: white;
	width: 200px;
	height: 40px;
	line-height: 40px;
	background-color: rgb(250, 40, 50);
}
.all span{
	margin-left: 20px;
}
.all img{
	margin-left: 40px;
}
.cl{
	position: absolute;
	top: 110px;
	left: 230px;
}
.cl a{
	margin-right: 23px;
	color: #000;
	font-weight: bold;
	font-size: 15px;
}
.cl a:hover{
	color: red;
}