/*
* @Author: taochallenge
* @Date:   2019-12-17 18:17:42
* @Last Modified by:   taochallenge
* @Last Modified time: 2019-12-17 18:17:42
*/
#big-box{
	width: 1200px;
	margin: 0 auto;
	border: 1px solid #ccc;
}
#login{
	width: 1200px;
	height: 30px;
	background-color: #f5f4f4;
	border: 1px solid #ccc;
	line-height: 30px;
}
#left_1{
	width: 300px;
	margin-left: 50px;
	float: left;
	line-height: 30px;
}
#login>ul{
	width: 700px;
	float: right;
	margin-top: 0;
}
#list_1{
	display: inline-block;
	line-height: 30px;
	margin-left: 20px;
	float: left;
}
select{
	border:0;
	background-color: #f5f4f4;
}
#navs{
	width: 1200px;
	height: 100px;
}
#logo{
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}
#logo>img{
	width: 70px;
	height: 70px;
}
#word{
	float: left;
	margin-left: 50px;
	width: 200px;
}
#search{
	width: 500px;
	height: 40px;
	line-height: 40px;
	float: left;
}
#search>input{
	width: 400px;
	height: 40px;
	border: 2px solid #ccc;
	float: left;
}
#search>button{
	height: 40px;
	width: 70px;
	margin-left: 0;
	background-color: #ccc;
	float: left;
}
#car{
	width: 100px;
	height: 40px;
	float: left;
	border: 1px solid #ccc;	
}
#car>img{
	margin-top: 10px;
	float: left;
}
#car>p{
	width: 60px;
	line-height: 20px;
	float: left;
}
#qrcode{
	float:right;
	margin-top: 0px;
}
#qrcode>img{
	width: 100px;
	height: 100px;
}
#box_top{
	width: 1200px;
	height: 40px;
	float: left;
	border-bottom: 1px solid #ccc;
}
#left_2{
	width: 200px;
	height: 40px;
	float: left;
}
#left_2>p{
	text-align: center;
	font-weight:bold;
}
#right_1{
	width: 1000px;
	height: 40px;
	float: right;
}
#right_1>ul{
	float: left;
}
#right_1>ul>li{
	display: block;
	text-align: center;
	width: 130px;
	float: left;
	font-weight: bold;
}
#right_1>ul>li:hover{
	border-bottom: 2px solid red;
	color: red;
}
#right_2{
	float: right;
}
#box_left{
	width: 250px;
	height: 930px;
	float: left;
}
#left_3{
	width: 250px;
	height: 100px;
	background-color: #ccc;
	float: left;
}
#left_4{
	width: 250px;
	height: 100px;
	background-color: #ddd;
	float: left;
}
#more{
	width: 250px;
	height: 30px;
	float: left;
	background-color: #ddd;
}
#box_left>div>ul{
	width: 250px;
	height: 100px;
	padding-left: 0px;
	margin-top: 0px;
}
#box_left>div>ul>li{
	display: block;
	line-height: 20px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}
#titles{
	font-weight: bold;
	width:250px;
}
#box_left>div>ul>li:hover{
	color: blue;
}
#more{
	line-height: 30px;
	text-align: center;
}
#more:hover{
	color: blue;
}
/*........................................................*/
.box{
	width: 675px;
	height: 240px;
	border-top: none;
	text-align: center;
	border-bottom: none;
	position: relative;
	overflow: hidden; 
	left: 15px;
}
.slider{
	width: 4725px;
	height: 240px;
	position: relative;
	left: -675px;
}

.slide{
	width: 675px;
	float: left;
	overflow:hidden;
}
.slider>.slide>img{
	height: 240px;
}
.box>span{
	top:100px;
	text-align: center;
	font-size: 30px;
	line-height: 40px;
	display: block;
	width: 30px;
	height: 40px;
	cursor: pointer;
	color: #ccc;
	background:red;
	position: absolute;
	/*display: none;*/
	opacity: 0;
}
#left{
	left: 10px;
}

#right{
	right:10px;
}

.nav{
	width: 300px;
	height: 20px;
	padding-left: 0px;
	position: absolute;
	margin-bottom: 0px;
	left: 200px;
	bottom: 5px;

}

.nav>li{
	float: left;
	width: 15px;
	height:15px;
	text-align: center;
	line-height: 15px;
	background:#ccc;
	cursor: pointer; 
	margin: 0 15px;
	border-radius: 50%;
	list-style: none;
}
#active{
	background: red;
	color: #ccc;
}
/*..........................................................*/
#right_box{
	width: 250px;
	height: 240px;
	float: right;
	position:relative;
	left: 5px;
	top: -240px;
}
#right_3{
	width: 250px;
	height: 110px;
	margin-top: 10px;
	float: left;
}
#right_3>img{
	width: 250px;
	height: 110px;
	float: left;
}