/*
* @Author: taochallenge
* @Date:   2019-12-17 18:14:13
* @Last Modified by:   taochallenge
* @Last Modified time: 2019-12-17 18:14:13
*/
*{
	margin: 0px;
	padding: 0px;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #666666;
}
a:hover{
	text-decoration: underline;
}
body{
	/*background-image: url(images/background.jpg);*/
	/*background-color: #e3c887;*/
	opacity: 1.5;
	background-repeat: no-repeat;
}
#top-wrap{
	height: 35px;
	background-color: rgb(249,249, 249);
}
#top{
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 35px;
	line-height: 35px;
	font-size: 13px;
}
#destination{
	display: block;
	color: rgb(100, 100, 100);
	width: 80px;
	height: 33px;
	margin-bottom: -1px;
	border-bottom: white;
}
#des{
	display: none;
	position: absolute;
	width: 300px;
	height: 240px;
	border: 1px solid red;
	background-color: white;
	z-index: 999;
	border: 1px solid rgb(230, 230, 230);
}
#des a{
	font-size: 12px;
	color: rgb(100, 100, 100);
	display: inline-block;
	margin-right: 20px;
	margin-left: 10px;
	margin-bottom: -10px;
}
#top-right{
	position: absolute;
	top: 0;
	left: 390px;
	float: right;
}
#top-right a{
	height: 20px;
	display: inline-block;
	color: rgb(100, 100, 100);
}
#login{
	color: red;
}
#vip:hover{
	color: red;
}
#welcome{
	float: left;
}
#zero{
	color: red;
}
#smallmarket{
	position: relative;
	top: 5px;
}
#top-market:hover{
	color: red;
}
.top-wright-text{
	height: 15px;
	line-height: 10px;
	display: inline-block;
}
.wright-text{
	height: 20px;
	line-height: 10px;
	display: inline-block;
}
#head-wrap{
	height: 142px;
	border-bottom:2px solid rgb(255,40,50);
}
#mydd{
	display: none;
	position: absolute;
	top: 0;
	left: 794px;
	width: 70px;
	height: 120px;
	z-index: 999;
	background-color: rgb(249,249, 249);
}
.mydd,.get,.buyy,.servelist{
	color: rgb(100, 100, 100);
	font-size: 12px;
	text-indent: 4px;
	display: inline-block;
	width: 70px;
	height: 20px;
}
#zeroget{
	display: none;
	position: absolute;
	top: 0;
	left: 864px;
	width: 70px;
	height: 100px;
	z-index: 999;
	background-color: rgb(249,249, 249);
}
#buy{
	display: none;
	position: absolute;
	top: 0;
	left: 1050px;
	width: 70px;
	z-index: 999;
	height: 150px;
	background-color: rgb(249,249, 249);
}
#serve{
	display: none;
	position: absolute;
	top: 0;
	left: 1125px;
	width: 70px;
	z-index: 999;
	height: 120px;
	background-color: rgb(249,249, 249);
}
#head{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
input{
	color: rgb(102, 102, 102);
	font-size: 12px;
	position: absolute;
	left: 400px;
	top: 25px;
	width: 500px;
	height: 35px;
	border: 2px solid rgb(255,40,50);
}
input:focus{
	outline: none;
}
#search{
	display: block;
	height: 39px;
	width: 42px;
	background-color: rgb(255,40,50);
	position: absolute;
	top: 25px;
	left: 900px;
	text-align: center;
}
#mirror{
	margin-top: 2px;
}
#market{
	color: white;
	width: 100px;
	height: 39px;
	background-color: rgb(255,40,50);
	position: absolute;
	top: 25px;
	left: 1000px;
}
#marketimg{
	margin-top: 2px;
}
#markettxt{
	position: absolute;
	top: 9px;
	font-size: 15px;
}
#ding{
	width: 100px;
	height: 39px;
	position: absolute;
	top: 25px;
	left: 1100px;
	background-color: rgb(246,246, 246);
	text-align: center;
	line-height: 39px;
	color: rgb(100,100,100);
}
#ding:hover{
	color: red;
}
#hotm{
	font-size: 12px;
	color: rgb(150, 150, 150);
	position: absolute;
	left: 400px;
	top: 70px;
}
#hotm a{
	color: rgb(150, 150, 150);
	display: inline-block;
	margin-right: 10px;
}
#ad{
	margin-left: 42px;
}
.all{
	position: absolute;
	top: 102px;
	color: white;
	width: 200px;
	height: 40px;
	line-height: 40px;
	background-color: rgb(250, 40, 50);
}
.all span{
	margin-left: 20px;
}
.all img{
	margin-left: 40px;
}
.cl{
	position: absolute;
	top: 110px;
	left: 230px;
}
.cl a{
	margin-right: 25px;
	color: #000;
	font-weight: bold;
	font-size: 15px;
}
.cl a:hover{
	color: red;
}
.hot1{
	position: absolute;
	top:135px;
	left: 875px;
}

#line{
	position: fixed;
	top: 305px;
	right: 0;
	height: 281px;
	width: 4px;
	background-color: rgb(71, 71, 71);
}
.z-index{
	/*background-color: rgb(35,235,185);*/
	width: 1000px;
	height: 460px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	overflow: hidden;
}
.z-index img{
	cursor: pointer;
	width: 800px;
	height: 300px;
}
#z-index0{
	padding-top: 160px;
	position: absolute;
	left: 400px;
	z-index: 3;
}
#z-index1{
	padding-top: 5px;
	position: absolute;
	left: 870px;
}

#z-index2{
	padding-top: 5px;
	position: absolute;
	left: 10px;
}

.titlenav{
	text-align: center;
	background-color: rgb(244,208,0);
}
.titlenav li{
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid blue;
}
.code img{
	float: right;
	width: 50px;
	height: 50px;
	position: fixed;
	top: 200px;
	right:110px;
	z-index: 4;
}
#centerbox{
	margin: 0 auto;
}
#homenav{
	z-index: 2;
	float: left;
	position: relative;
	width: 200px;
	height: 670px;
	border: 1px solid yellow;
	margin-left: 140px;
	/*margin-top: 30px;*/
}
#homenav span{
	font-size: 14px;
	color: #eee;
	line-height: 30px;
}
#homenav img{
	padding-top: 10px;
	padding-right: 10px;
	width: 20px;
	height: 20px;
}
.home_first{
	color: #404040;
	margin-left: 10px;
	width: 180px;
	height: 90px;
	font-size: 12px;
	line-height: 14px;
	border-bottom: 1px solid #abdcfe; 
}
.home_first:hover{
	z-index: 1;
	width: 700px;
	border: none;
}
.home_zero{
	width: 200px;
	height: 90px;
}
.home_zero:hover {
	width: 500px;
	background-color:#cbf5fb;
}
.home_second:hover .home_second{
	display: block;
}
.home_second{
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	display: none;
}
.ha{
	float: left;
	margin:0 5px;
	text-align: center;
	line-height: 20px;
}
.title{
	height: 29px;
	width: 200px;
	line-height: 29px;
	border-bottom: 1px solid #d2d2d2;
	background-color: #9f6633;
	text-align: center;
	color: #fff;
}
.left_middle{
	float: left;
	height: 490px;
	width: 200px;
	border: 1px solid rgb(226,226,226);
	margin-left: -200px;
	margin-top: 685px;
}
.hot{
	width: 200px;
	height: 30px;
	background-color: rgb(226,226,226);
	text-align: center;
}
.tab_aa{
	background-color: rgb(229,131,8);
}
.tab_aa li {
	height: 16px;
	font-size: 14px;
	padding-left: 6px;
	display: inline-block;
	cursor: pointer;
	font-family: "tahoma";
}
.tali_1{
	/*background-color: pink;*/
	width: 200px;
	height: 440px;
}
.tali_1 li{
	list-style: decimal;
	font-size: 13px;
	color: #808080;
	margin-left:15px; 
	border-bottom: 1px solid #eeeeee;
}
.tali_1 img{
	float: left;
}
.tali_1o{
	height: 100px;
}
#tali_1{
	display: block;
	background-color: pink;
}
#tali_2{
	display: none;
	background-color: pink;
}
#tali_3{
	display: none;
	background-color: pink;
}
#tali_4{
	display: none;
	background-color: pink;
}
#tali_5{
	display: none;
	background-color: pink;
}
#box{
	left: 0;
	top: 0;
	z-index: 0;
	width: 1000px;
	height: 300px;
	margin-left:350px;
	/*margin: 0 auto;*/
	margin-top: 30px;
	position: relative;
	overflow: hidden;
}
.box:hover #left{
	display: block;
}
.box:hover #right{
	display: block;
}
.slider{
	width: 1000px;
	position: absolute;
	top: -300px;
}
.slide{
	width: 1000px;
	overflow: hidden;
	float: left;
}
.slide img{
	width: 1000px;
	height: 296px;
	align:center;
}
.box>span{
	display: block;
	width: 30px;
	height: 45px;
	text-align: center;
	cursor: pointer;
	top: 130px;
	position: absolute;
	opacity: 0;
}
#left{
	position: absolute;
	left: 30px;
	bottom: 160px;
	background-color:blue;
	text-align: center;
	font-size: 30px;
	color: white;
	opacity: 0.5;
	display: none;
}
#right{
	position: absolute;
	right: 30px;
	bottom: 160px;
	background-color:blue;
	text-align: center;
	font-size: 30px;
	color: white;
	opacity: 0.5;
	display:none;
}
.nav{
	position: absolute;
	left: 750px;
	bottom: 10px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background-color: #f9f;
	cursor: pointer;
	margin:0 5px;
	border-radius: 50%;
	text-align: center;
	font-size: 13px; 	
}
.nav .active{
	background:red;
}
.time{
	margin-top: 20px;
	width: 1000px;
	height: 450px;
	margin-left: 350px;
	border: 1px solid rgb(218,218,218);
}
.timetitle{
	height: 35px;
	width: 1000px;
	background-color: rgb(250,144,24);
}
.timetitle img{
	width: 30px;
	height: 35px;
}
.timetitle a{
	color: white;
	text-align: center;
	float: right;
	margin-right: 890px;
	margin-top: 5px;
}
.time_pic{
	width: 230px;
	height: 250px;
	float: left;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 10px;
	padding-top: 10px;
	font-size: 13px;
	border: 1px solid rgb(218,218,218);
}
.time_pic h2{
	color:red;
}
.time_pic img{
	width: 230px;
	height: 250px;
}
.time_pic button{
	width: 125px;
	height: 40px;
	background-image: url("images/time5.png");
	margin-left: 110px;
}
.countdown{
	font-size: 18px;
	color: red;
	line-height: 10px;
}
.newgoods{
	margin-top: 20px;
	width: 1000px;
	height: 380px;
	margin-left: 350px;
	border: 1px solid rgb(218,218,218);
}
.goodstitle{
	height: 35px;
	width: 1000px;
	background-color: #9f6633;
}
.goodstitle img{
	width: 30px;
	height: 35px;
}
.goodstitle a{
	color: white;
	text-align: center;
	float: right;
	margin-right: 890px;
	margin-top: 5px;
}
.newgoods_pic{
	width: 230px;
	height: 250px;
	float: left;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 10px;
	font-size: 13px;
	border: 1px solid rgb(218,218,218);
}
.newgoods_pic h2{
	color:red;
}
.newgoods_pic img{
	width: 230px;
	height: 250px;
}
#gotop{
	width: 100px;
	height: 50px;
	float: right;
	margin-right: 50px;
	margin-top:-50px; 
	background-color: #7AC0F5;
}
.true{
	margin-top: 20px;
	width: 100%;
	height: 100px;
	background-color:#FAFAFA;
	text-align: center;
}
.footer{
	background-color: pink;
	height: 150px;
}
.footer div{
	width: 90px;
	display: inline-block;
	margin-top: 15px;
	margin-left:180px;		
}
.footer a{
	color: rgb(30,41,61);
}
.size{
	font-size: 14px;
}
.copyright{
	background-color: pink;
	border-top:1px solid #454545;
	height: 97px;
	text-align: center;
	padding-top: 25px;
	color:rgb(30,41,61);
	font-size: 14px;
}
.copyright a{
	color: rgb(30,41,61);
}